* {
  margin: 0;
  padding: 0;
}

body {

  background: url(../imagenes/fondo\ nuevo.jpg);
  background-size: cover;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100vh;
}

.container {
  width: 320px;
  height: 420px;
  background: rgba(4, 20, 247, 0.1);
  color: black;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.container h5 {
  padding-bottom: 20px;
  text-align: center;
  font-size: 1.5em;
}

.container label {
font-weight: bold;
  display: block;
}

.container input {
  width: 100%;
  margin-bottom: 20px;
  color: black;
}

.container input[type="text"],
.container input[type="password"] {
  border: none;
  background: transparent;
  border-bottom: 1px solid blue;
  outline: none;
  height: 40px;
  color: black;
}

.container input[type="button"] {
  border: none;
  outline: none;
  height: 40px;
  background: rgba(19, 231, 0, 0.897);
  font-size: 1.1em;
  border-radius: 20px;
  
}

.container input[type="button"]:hover {
  cursor: pointer;
  background: #ffc107;

}

.container a {
  text-decoration: none;
  display: block;
  color: blue;
  font-size: 0.8em;
  line-height: 20px;
}

.container a:hover {
  color: transparent;
}

.container #mensaje {
  border: none;
  font-size: .6em;
  font-weight: lighter;
}

.container .blanco {
  color: white;
}

.container .rojo {
  color: red;
}

.container .verde {
  color: green;
  font-size: 0.9em !important;
}